<div class="general_padding bg-[#263238] text-sm py-4 lg:py-8 xl:py-10 flex flex-col gap-4 md:flex-row">
  <div class="flex flex-col items-center gap-3  text-center md:w-[45%]">
    <img
        src="../../assets/images/Logo2.svg"
        class="h-5 mb-2 lg:mb-4"
        alt="Logo"
      />
      <div class="">
        <p class="text-white lg:text-base">Copyright © 2020 Nexcent ltd.</p>
        <p class="text-white lg:text-base">All rights reserved</p>
      </div>
      <img src="../../assets/images/Social Links.svg" class="h-6 lg:h-8 xl:h-9" alt="">
  </div>
  <div class="grid grid-cols-3">
    <div class="">
      <p class="text-white mb-2 lg:mb-4 font-bold text-base lg:text-lg">Company</p>
      <p class="text-white lg:text-base">About us</p>
      <p class="text-white lg:text-base">Blog</p>
      <p class="text-white lg:text-base">Contact us</p>
      <p class="text-white lg:text-base">Pricing</p>
      <p class="text-white lg:text-base">Testimonials</p>
    </div>
    <div class="">
      <p class="text-white mb-2 lg:mb-4 font-bold text-base lg:text-lg">Support</p>
      <p class="text-white lg:text-base">Help centre</p>
      <p class="text-white lg:text-base">Terms of service</p>
      <p class="text-white lg:text-base">Legal</p>
      <p class="text-white lg:text-base">Privacy policy</p>
      <p class="text-white lg:text-base">Status</p>
    </div>
    <div class="">
      <p class="text-white mb-2 lg:mb-4 font-bold text-base lg:text-lg">Stay up to date</p>
      <div class="relative bg-opacity-100 flex items-center mr-4">
        <img src="../../assets/images/send.svg" class="absolute right-0 mr-2" alt="">
        <input type="text" class="rounded-lg w-full bg-white bg-opacity-20 py-1 px-1 lg:px-2 lg:py-2 lg:text-base text-sm font-bold text-[#D9DBE1] " placeholder="Your Email">
      </div>
    </div>
  </div>
</div>
